@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<ProjectDto>

        <div class="container row">

            @foreach (var project in Model)
            {
                <div class="col-4 ">
                    <div class="p-0 my-3 border">
                        <div class="card" >
                            <img src="@project.avatarUrls._24x24" class="card-img-top" >
                            <div class="card-body">
                                <h3 class="card-title text-success">@project.name</h3>
                                <h4 class="card-title text-primary">@project.projectTypeKey</h4>                                
                                <p class="card-text">@project.description</p>
                                <div class="row">                                    
                                    <div class="col">
                                        <a asp-controller="Home" asp-action="ProjectDetails" asp-route-id="@project.id"
                                           class="btn btn-success form-control">Details</a>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    
